html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #383838;
    color: white;
}

canvas {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 20px 40px 40px;
}

li {
  float: right;
  font-size: 20px;
  border-bottom: 2px solid white;
  width: 6rem;
}

li:first-child {
  margin-left: 15px;
  width: 5rem;
}

h1 {
  text-align: center;
  padding-top: 5rem;
}

h3 {
    float: left;
    padding-left: 10px;
}

.navbar {
  border-style: solid;
  border-color: #B3F2F2;
  border: 15px;
  color: white;
}