html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #e1e1e1;
    color: white;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      background-color: black;
  }
  100% {
      background-color: #676767;
   }
}

canvas {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 20px 40px 40px;
}

li {
  float: right;
  font-size: 20px;
  border-bottom: 2px solid #5ec4ff;
  
}

li:first-child {
  margin-left: 15px;
  width: 5rem;
}

li.second-child {
  margin-left: 15px;
  width: 3.9rem;
}

h1 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.projects {
  padding-top: 5rem;
  padding-bottom: 0rem;
}

h2 {
  text-decoration: underline;
  text-decoration-color: #5ec4ff;
}

h3 {
  float: left;
  font-size:x-large;
  margin-top: 15px;
  border-bottom: 2px solid #5ec4ff;
}

.navbar {
  border-style: solid;
  border-color: #B3F2F2;
  border: 15px;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.projectsA {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  top: 45%;
  left: 53%;
  
}

.projectsB {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  
  position: absolute;
  top: 65%;
  left: 58%;
  transform: translate(-50%, -50%);
}

.description {
  letter-spacing: 0.1rem;
  line-height: 1.75rem;
  font-size: 15pt;
  border: solid 2px #5ec4ff;
  padding: 20px;
  width: 50rem;
  height: 7rem;
  text-align: center;
}

.intro_p {
  padding-bottom : 4rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.scroll {
  font-size: 15pt;
}

p.code {
  width: 700px;
  background-color: cornsilk;
  font-size: 16px;
  flex-wrap: wrap;
  color: black;
}

textarea {
  min-width: 700px;
  min-height: 600px;
}
