html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #DAE0F2;
}

canvas {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 20px 40px 40px;
}

li {
  float: right;
  padding-left: 30px;
  font-size: 20px;
}

h1 {
  text-align: center;
  padding-top: 5rem;
}

h3 {
    float: left;
    padding-left: 10px;
}

.navbar {
    background-color: #576AB5;
    color: white;
}